*{
    background-color: #121212;
    margin: 0;
    padding: 0;
}

.cabeca{
    width: 100%;
    
}

.index{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 327px;
    height: 42px;
    top: 57px;
    left: 24px;
    gap: 98px;
    position: absolute;
}

#text{
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
}

.profile{
    width: 42px;
    height: 42px;
}

.little-options{
    width: 42px;
    height: 42px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-vetor{
    width: 24px;
    height: 24px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.3px;

}

.vetor1{
    width: 19.5px;
    height: 2px;
    top: 6.25px;
    left: 2.25px;
    background-color: #FFFFFFDE;
}

.vetor2{
    width: 13.5px;
    height: 2px;
    top: 11.25px;
    left: 5.25px;
    background-color: #FFFFFFDE;
}

.vetor3{
    width: 5.5px;
    height: 2px;
    top: 16.25px;
    left: 9.25px;
    background-color: #FFFFFFDE;
}

#img-perfil{
    width: 42px;
    height: 42px;
    top: 57px;
    border-radius: 50%;
}

.rodape{
    width: 375px;
    height: 124px;
    position: absolute;
    top: 688px
}

.opcoes{
    width: 375px;
    height: 100px;
    top: 24px;
    background-color: #363636;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-casa{
    width: 48px;
    height: 50px;
    top: 36px;
    left: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #363636;
}

#casinha{
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: #363636;
}

#descricao{
    position: absolute;
    bottom: 24.6px;
    background-color: #363636;
    color: #FFFFFFDE;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.06px;
    text-align: left;
}

.icon-calendar{
    width: 48px;
    height: 50px;
    top: 36px;
    left: 88px;
    margin: 10px;
}


.icon-new{
    width: 64px;
    height: 64px;
    top: -8px;
    left: 156px;
    margin: 10px;
    background-color: #8687E7;
    border-radius: 50%;
    margin-bottom: 112px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gg-math-plus{
    color: white;
}


.icon-focuse{
    width: 48px;
    height: 50px;
    top: 36px;
    left: 240px;
    margin: 10px;
}

.icon-profile{
    width: 48px;
    height: 50px;
    top: 36px;
    left: 308px; 
    margin: 10px;
}


.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 227px;
    height: 227px;
    top: 174px;
    left: 74px;
}

#first-text{
    width: 270px;
    height: 30px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 30.1px;
    text-align: left;
    color: #FFFFFFDE;
    position: absolute;
    top: 227px;
    left: -12px;
}

#second-text{
    width: 159px;
    height: 24px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.08px;
    text-align: left;
    color: #FFFFFFDE;
    position: absolute;
    top: 267px;
    left: 38px;
}

