.corpoTask{
    height: 228px;
    top: 262px;  
}

#Add-Task-Name{font-size: 20px;}

.name-task, .description-task{
    border: 1px solid #363636;
    font-size: 18px;
}

input:focus {
    border: 1px solid white;
    outline: none;
}

.name-task::placeholder {
    font-weight: 400;
    opacity: 60%;
    color: white;
}

.icons{left: 15px;}

#send-task{
    right: 26px;
    top: 176px
}

#send-task{transform: rotate(45deg);}